{% validate_fields animated_details required="summary, content" optional="animation_duration" %}

{% assign animated_details__summary = include.summary %}
{% assign animated_details__content = include.content %}
{% assign animated_details__animation-duration = include.animation_duration | default: "0.3s" %}

<details class="animated-details" style="--animatedDetails-duration-transition: {{ animated_details__animation-duration }};">
  <summary class="animated-details__summary">
    {{ animated_details__summary }}
  </summary>
  <div class="animated-details__content-wrapper">
    <div class="animated-details__content">
      {{ animated_details__content }}
    </div>
  </div>
</details>
