{% validate_fields include optional="from, to, show_duration" %}

{% assign date_range__from = include.from %}
{% assign date_range__to = include.to | default: 'Present' %}
{% assign date_range__show_duration = include.show_duration | default: false %}

{% if date_range__from %}
  <p class="date-range">
    {{ date_range__from }} - {{ date_range__to }}

    {% if date_range__show_duration %}
      <span
        class="date-range__duration"
        date-range-from="{{ date_range__from }}"
        date-range-to="{{ date_range__to }}">
      </span>
    {% endif %}
  </p>
{% endif %}
