$card-spacing: 0.8rem;
$card-image-aspect-ratio: 16 / 9;
$card-image-width: calc(min(10rem * #{$card-image-aspect-ratio}, 50%));

.card__wrapper {
  container-type: inline-size;
  margin: 0.75em 0;

  @supports #{"selector(::details-content)"} {
    & > .animated-details::details-content {
      box-shadow: $box-shadow;
      clip-path: inset(0px -50px -50px -50px);
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  @supports #{"not selector(::details-content)"} {
    & > .animated-details .animated-details__content-wrapper {
      box-shadow: $box-shadow;
      clip-path: inset(0px -50px -50px -50px);
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}

.card {
  display: flex;
  overflow: hidden;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  transition:
    box-shadow 0.2s ease,
    border-radius var(--animatedDetails-duration-transition) ease-out;
}

.animated-details[open] > .animated-details__summary > .card {
  border-radius: $border-radius $border-radius 0 0;
}

.card__image {
  aspect-ratio: #{$card-image-aspect-ratio};
  flex-shrink: 0;
  width: $card-image-width;
  overflow: hidden;
  transition: width $global-transition-timing;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
}

.card__text {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% - #{$card-image-width} - 2 * #{$card-spacing});
  margin: $card-spacing;
}

.card__title {
  margin: 0;
}

.card__icon {
  float: right;
  width: $h-size-3 * $h-line-height;
  height: $h-size-3 * $h-line-height;

  svg {
    width: 100%;
    height: 100%;
  }
}

.card__content {
  gap: $card-spacing / 4;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

p.card__excerpt {
  margin: 0;
  font-size: $type-size-6;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: $card-spacing / 3;
}

a.card__link {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: inherit;

    .card {
      box-shadow: $box-shadow-hover;
    }

    .card__title {
      text-decoration: underline;
    }
  }
}

.animated-details__summary:hover .card {
  box-shadow: $box-shadow-hover;
}

@container (max-width: 650px) {
  .card {
    flex-direction: column;
  }

  .card__image {
    width: 100%;
  }

  .card__text {
    width: calc(100% - 2 * #{$card-spacing});
  }
}

.card--minimal > .card__text {
  display: unset;

  & > .card__content > .card__excerpt {
    font-size: $type-size-5;
  }
}
