/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @media (min-width: $large) {
    float: inline-end;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @media (min-width: $x-large) {
    width: calc(100% - #{$right-sidebar-width});
    padding-inline-end: $right-sidebar-width;
  }
}

.archive__item {
  position: relative;

  a {
    position: relative;
    z-index: 10;
  }

  a[rel="permalink"] {
    position: static;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  line-height: initial;
  overflow: hidden;
  text-overflow: ellipsis;

  a[rel="permalink"]::before {
    content: '';
    position: absolute;
    inset: 0;
  }

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {
  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }

  a {
    position: relative;
  }
}

.archive__item-teaser {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.archive__item-caption {
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-8;
  background: #000;
  text-align: end;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 0 0;

  @media (min-width: $large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Features
   ========================================================================== */

.feature__wrapper {
  &,
  &--left,
  &--right,
  &--center {
    display: grid;
    gap: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid $border-color;

    .archive__item-title {
      margin-bottom: 0;
    }
  }

  @media (min-width: $small) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.feature__item {
  @media (min-width: $small) {
    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &,
  &--left,
  &--right,
  &--center {
    font-size: 1.125em;

    .archive__item-body *:last-child {
      margin-bottom: 0;
    }

    a.btn::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }

  @media (min-width: $small) {
    &--left {
      .archive__item {
        display: grid;
        grid-template-columns: 5fr 7fr;
        gap: 1.5rem;
      }
    }

    &--right {
      text-align: end;

      .archive__item {
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 1.5rem;
      }

      .archive__item-teaser {
        grid-column: 2;
      }

      .archive__item-body {
        grid-column: 1;
        grid-row: 1;
      }
    }

    &--center {
      text-align: center;
      
      .archive__item {
        justify-items: center;
      }

      .archive__item-teaser {
        width: 5 / 12 * 100%;
      }

      .archive__item-body {
        width: 7 / 12 * 100%;
      }
    }
  }
}

/* Place inside an archive layout */

.archive {
  .feature__wrapper {
    .archive__item-title {
      margin-top: 0.25em;
      font-size: 1em;
    }
  }

  .feature__item,
  .feature__item--left,
  .feature__item--center,
  .feature__item--right {
    font-size: 1em;
  }
}

/*
   Wide Pages
   ========================================================================== */

.wide {
  .archive {
    @media (min-width: $large) {
      padding-inline-end: 0;
    }

    @media (min-width: $x-large) {
      padding-inline-end: 0;
    }
  }
}
