/* ==========================================================================
   NAVIGATION
   ========================================================================== */

/*
     Priority plus navigation
     ========================================================================== */

#site-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: $nav-height;
  background: $background-color;

  a {
    display: block;
    margin: 0 1rem;
    color: $masthead-link-color;
    text-decoration: none;
    -webkit-transition: none;
    transition: none;

    &:hover {
      color: $masthead-link-color-hover;
    }

    &.site-logo {
      margin-inline-start: 0;
      margin-inline-end: 0.5rem;
    }

    &.site-title {
      margin-inline-start: 0;
    }
  }

  img {
    -webkit-transition: none;
    transition: none;
  }
}
