@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mx;

/* ==========================================================================
   BASE ELEMENTS
   ========================================================================== */

html {
  /* sticky footer fix */
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: v.$page-background;
  color: v.$text-color;
  font-family: v.$global-font-family;
  line-height: v.$line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2em 0 0.5em;
  line-height: v.$h-line-height;
  font-family: v.$header-font-family;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: v.$h-size-1;
}

h2 {
  font-size: v.$h-size-2;
}

h3 {
  font-size: v.$h-size-3;
}

h4 {
  font-size: v.$h-size-4;
}

h5 {
  font-size: v.$h-size-5;
}

h6 {
  font-size: v.$h-size-6;
}

small,
.small {
  font-size: v.$type-size-6;
}

p {
  margin-bottom: 1.3em;
}

u,
ins {
  text-decoration: none;
  border-bottom: 1px solid v.$text-color;
  a {
    color: inherit;
  }
}

del a {
  color: inherit;
}

/* abbreviations */

abbr[title],
abbr[data-original-title] {
  text-decoration: none;
  cursor: help;
  border-bottom: 1px dotted v.$text-color;
}

/* blockquotes */

blockquote {
  margin-block: 2em;
  margin-inline-end: 1em;
  padding-inline: 1em;
  font-style: italic;
  border-inline-start: 0.25em solid v.$primary-color;

  cite {
    font-style: italic;

    &::before {
      content: "\2014";
      padding-inline-end: 5px;
    }
  }
}

/* links */

a {
  &:visited {
    color: v.$link-color-visited;
  }

  &:hover {
    color: v.$link-color-hover;
    outline: 0;
  }
}

/* buttons */

button:focus {
  @extend %tab-focus;
}

/* code */

tt,
code,
kbd,
samp,
pre {
  font-family: v.$monospace;
}

pre {
  overflow-x: auto; /* add scrollbars to wide code blocks*/
}

/* horizontal rule */

hr {
  display: block;
  margin: 1em 0;
  border: 0;
  border-top: 1px solid v.$border-color;
}

/* lists */

ul li,
ol li {
  margin-bottom: 0.5em;
}

li ul,
li ol {
  margin-top: 0.5em;
}

/*
   Media and embeds
   ========================================================================== */

img.opaque, video, iframe {
  background-color: v.$lighter-gray;
  $svg-color: mx.url-friendly-color(v.$light-gray);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Ccircle cx='50' cy='50' r='40' stroke='#{$svg-color}' stroke-width='8' stroke-dasharray='120 40' stroke-linecap='round' fill='none'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='1s' repeatCount='indefinite' /%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* Figures and images */

figure {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2em 0;

  img,
  iframe {
    margin-bottom: 1em;
  }

  img {
    width: 100%;
    border-radius: v.$border-radius;
    -webkit-transition: v.$global-transition;
    transition: v.$global-transition;
  }

  > a {
    display: block;
  }

  &.half {
    > a,
    > img {
      @media (min-width: v.$small) {
        width: calc(50% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }

  &.third {
    > a,
    > img {
      @media (min-width: v.$small) {
        width: calc(33.3333% - 0.5em);
      }
    }

    figcaption {
      width: 100%;
    }
  }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;
  color: v.$muted-text-color;
  font-family: v.$caption-font-family;
  font-size: v.$type-size-6;

  a {
    -webkit-transition: v.$global-transition;
    transition: v.$global-transition;

    &:hover {
      color: v.$link-color-hover;
    }
  }
}

/*
   Global animation transition
   ========================================================================== */

b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a,
tr,
td,
form button,
input[type="submit"],
.highlight {
  -webkit-transition: v.$global-transition;
  transition: v.$global-transition;
}
