@use "sass:color";
@use "../abstracts/variables" as v;

/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  font-family: v.$global-font-family;
  font-size: v.$type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: v.$border-color;
  border-bottom: 2px solid color.mix(#000, v.$border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: start;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid color.mix(#000, v.$border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}
